@media screen and (max-width: 1160px) {
    
}
@media screen and (max-width: 600px) {
    .navBar{
        display: flex;
        flex-direction: column;
        height: auto;
        
        gap: 0.5rem;
        
    }
    
}