* {
  margin: 0;
  padding: 0;
}
body {
  overflow-x: hidden;
  background-color: #F8F8FA;
  height: auto;
  background-attachment: fixed;
  color: rgb(0, 0, 0);
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "width" 100;
}

a {
  text-decoration: none;
  color: aliceblue;
  cursor: pointer;
}
.Mensagem{
  position: absolute;
  top: 7rem;
  left: 88%;
  transform: translateX(-50%);
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  color: #fff;
  z-index: 1000;
  opacity: 0;
  will-change: transform, opacity;
  animation: msg-in 0.4s ease-out forwards , msg-out 0.4s ease-in forwards;
  animation-delay: 0s, 4s;
}
@keyframes msg-in{
  from{ opacity: 0; transform: translateX(70px); }
  to{ opacity: 1; transform: translateX(30); }
}
@keyframes msg-out{
  from{ opacity: 1; transform: translateX(20); }
  to{ opacity: 0; transform: translateX(70px); }
}
button{
  cursor: pointer;
  background-color: transparent;
  border: none;
}
