* {
  margin: 0;
  padding: 0;
}
body {
  background-image: url("https://production.na01.natura.com/on/demandware.static/-/Sites-NatBrazil-Library/default/dw4b12b57d/Blogs/2024/02/Mais%20Natura/presente-de-natal-embalagens-podem-tornar-essa-data-mais-especial/Banner_Natal_v2_Embalagens.jpg");
  background-size: 100vw 100vh ;
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "width" 100;
}

a {
  text-decoration: none;
  color: aliceblue;
  cursor: pointer;
}
