* {
  margin: 0;
  padding: 0;
}
body {
  background-image: url("https://i.ytimg.com/vi/VuLdug9zOmc/maxresdefault.jpg");
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "width" 100;
}

a {
  text-decoration: none;
  color: aliceblue;
  cursor: pointer;
}
